{% extends 'base.html' %} {% load staticfiles %} {% load i18n %} {% block title %}管理员管理{% endblock %} {% block head %}

<script src="{% static 'bootstrap-datetimepicker/js/moment.js' %}"></script>

<link rel="stylesheet" href="{% static 'bootstrap-table/bootstrap-table.min.css' %}">
<script src="{% static 'bootstrap-table/bootstrap-table.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}">

<script src="{% static 'bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap-validator.js' %}"></script>
<script src="{% static 'js/jquery.ajaxfileupload.js' %}"></script>

<style>
  .update {
    color: #333;
    margin-right: 5px;
  }

  .remove {
    color: red;
    margin-left: 5px;
  }

  .alert {
    padding: 0 14px;
    margin-bottom: 0;
    display: inline-block;
  }

</style>

{% endblock head %} {% block main %}

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/a_user/a_user_list_index/">banner管理</a></li>

</ul>
<p class="bg-success alert">...</p>

<div class="form-inline">
  <button type="button" class="btn btn-primary create">
    添加
  </button>
</div>

<table id="table" data-show-refresh="true" data-toolbar=".form-inline" data-sort-name="id" data-sort-order="desc" data-row-style="rowStyle" data-pagination="true" data-page-size="10" data-page-list="[10,20]" data-pagination-first-text="First" data-pagination-pre-text="Previous"
  data-pagination-next-text="Next" data-pagination-last-text="Last" data-query-params="queryParams">
  <thead>
    <tr>
      <th data-field="action" data-align="center" data-formatter="actionFormatter" data-events="actionEvents">操作</th>

      <th data-sortable="true" data-field="id">id</th>
      <th data-sortable="true" data-field="name">标题</th>
      <th data-sortable="true" data-field="description">描述</th>
      <th data-sortable="true" data-field="_os_type">系统</th>
      <th data-sortable="true" data-field="_pic_url">图片</th>
      <th data-sortable="true" data-field="click_url">点击链接</th>
      <th data-sortable="true" data-field="ctime">创建时间</th>
      <th data-sortable="true" data-field="utime">更新时间</th>
      <th data-sortable="true" data-field="start_time">上架时间</th>
      <th data-sortable="true" data-field="end_time">下架时间</th>
      <th data-sortable="true" data-field="seq">排序</th>
      <th data-sortable="true" data-field="_status">状态</th>
      <th data-sortable="true" data-field="channel">渠道</th>
      <th data-sortable="true" data-field="_channel_type">渠道类型</th>
      <th data-sortable="true" data-field="_open_type">打开方式</th>

    </tr>
  </thead>
</table>

<div id="modal_banner" class="modal fade" data-toggle="validator" role="form">
  <div class="modal-dialog">
    <form class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>

      <div class="modal-body">

          <div class="form-group">
            <label for="">标题</label>
            <input type="text" name="name" id="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="">描述</label>
            <input type="text" name="description" id="description" class="form-control">
          </div>
          <div class="form-group">
            <label for="">系统</label>
            <select class="form-control" name="os_type">
              {% for id, name in os_type_option.items %}
                <option value="{{ id }}" title="{{ id }}">{{ name }}</option>
              {% endfor %}

            </select>
          </div>

          <div class="form-group">
              <label>图片：</label>

              <div class="photo-container photo-container-single">
                  <div class="img_wrapper1">
                  </div>
                  <div onclick="image_input1.click()" class="photo-upload"></div>
              </div>
          </div>
          <div class="form-group">
            <label for="">点击链接</label>
            <input type="text" name="click_url" id="click_url" class="form-control">
          </div>

          <div class="form-group">
            <label for="">上架时间</label>
            <div class='input-group date ' id='start_time'>
              <input type='text' class="form-control " name="start_time"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="">下架时间</label>
            <div class='input-group date ' id='end_time'>
              <input type='text' class="form-control " name="end_time" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>

          <script type="text/javascript">
          $(function() {
            $('#start_time').datetimepicker({
              format: "YYYY-MM-DD HH:mm",
              defaultDate: (new Date()).setDate(new Date().getDate() - 25),
            });
            $('#end_time').datetimepicker({
              format: "YYYY-MM-DD HH:mm",
              defaultDate: (new Date()).setMinutes(new Date().getMinutes() + 5),

            });
          });
          </script>


          <div class="form-group">
            <label for="">渠道</label>
            <input type="text" name="channel" id="channel" class="form-control">
          </div>

          <div class="form-group">
            <label for="">渠道方式</label>
            <select class="form-control" name="channel_type">
              {% for id, name in channel_type_option.items %}
                <option value="{{ id }}" title="{{ id }}">{{ name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="">打开方式</label>
            <select class="form-control" name="open_type">
              {% for id, name in open_type_option.items %}
                <option value="{{ id }}" title="{{ id }}">{{ name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="help-block with-errors"></div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary submit" >Submit</button>
      </div>
    </form>

    <input type="file" class="hidden" name="file" id="image_input1" required accept="image/*">

    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<script>
  var API_URL = 'http://' + location.host + '/operation/banner_list/';

  function queryParams(params) {
    var query_data = {};
    var filter = $('.form-inline');
    filter.find(".form-control[name]").each(function() {
      query_data[$(this).attr('name')] = $(this).val();
    })
    return query_data;
  }

  function actionFormatter(value) {
    return [
      '<button class="update btn btn-default" href="javascript:" title="Update Item">编辑</button>',
      '<button class="operate1 btn btn-default" href="javascript:" title="Delete Item">上架</button>',
      '<button class="operate2 btn btn-default" href="javascript:" title="Delete Item">下架</button>',
    ].join('');
  }

  // update and delete events
  window.actionEvents = {
    'click .update': function(e, value, row) {
      showModal($(this).attr('title'), row);
    },
    'click .operate': function(e, value, row) {
      $modal_detail = $("#modal_detail")
      $modal_detail.modal('show');
    }
  };


  function showAlert(title, type) {
    $alert = $(".alert");
    $alert.attr('class', 'alert alert-' + type || 'success')
      .html('<i class="glyphicon glyphicon-check"></i> ' + title).show();
    setTimeout(function() {
      $alert.hide();
    }, 3000);
  }

  function rowStyle(row, index) {
    var classes = ['active', 'success', 'info', 'warning', 'danger', 'table_normal'];

    if (row['ctime'] > '2016') {
      return {
        classes: classes[2]
      };
    }
    return {
      classes: classes[2]
    };
  }

$.ready(function(){
    refresh_table();
  })

</script>

<script src="{% static 'js/table_common.js' %}"></script>

<script>


$(function() {
  // create event
  $('.create').click(function() {
    showModal($(this).text());
  });
  $modal_banner = $('#modal_banner'),

  $modal_banner.validator().on('submit', function(e) {
    if ($modal_banner.data('bs.validator').hasErrors()) {
      e.preventDefault();
    } else {
      e.preventDefault();
      var row = {};

      $modal_banner.find('input[type!="radio"][type!="checkbox"][name]').each(function() {
        row[$(this).attr('name')] = $(this).val();
      });

      $modal_banner.find('select[name] option[title]:selected').each(function() {
        row[$(this).parent("select").attr('name')] = $(this).val();
      });

      $modal_banner.find('input[type="radio"][name][title]:checked').each(function() {
        row[$(this).attr('name')] = $(this).val();
      });

      $modal_banner.find('input[type="checkbox"]:checked').each(function(){
        if(!row[$(this).attr('name')]){
          row[$(this).attr('name')] = [];
        }

        row[$(this).attr('name')].push($(this).val());
       });

      $.ajax({
        url: API_URL + ($modal_banner.data('id') || ''),
        type: $modal_banner.data('id') ? 'put' : 'post',
        contentType: 'application/json',
        data: JSON.stringify(row),
        success: function(data) {
          $modal_banner.modal('hide');
          refresh_table();
          if (data.status == 0) {
            showAlert(data.message, 'success');
          } else {
            showAlert(data.message, 'danger');
          }
        },
        error: function() {
          showAlert(($modal_banner.data('id') ? 'Update' : 'Create') + ' item error!', 'danger');
        }
      });
    }
  });
});

function showModal(title, row) {
  row = row || {
    id: 0
  }; // default row value

  $modal_banner.data('id', row.id);
  $modal_banner.find('.modal-title').text(title);
  for (var name in row) {
    if(name.startWith('_')){
      continue;
    }
    $modal_banner.find('input[type!="radio"][name="' + name + '"]').val(row[name]);
    $modal_banner.find('select[name="' + name + '"] option[title="' + row[name] + '"]').attr("selected", true);
    $modal_banner.find('input[type="radio"][name="' + name + '"][title="' + row[name] + '"]').attr("checked", true);
  }
  removeAllImage("img_wrapper1");
  if(row.id > 0 || row.pro_id > 0){
      addImage("img_wrapper1", row['pic_url']);
    }

  $modal_banner.modal('show');
}


$().ready(function() {
    $("#image_input1").AjaxFileUpload({
        action: API_URL.substring(0, API_URL.length - 1 - "banner_list".length) + "upload_file/",
        onComplete: function(filename, response) {
            if (response.status == 1) {
                showAlert(response.message, 'error');
            } else if (response.status == 0) {
                console.log(response);
                if($("#img_wrapper1_0").length == 0)
                {
                    addImage("img_wrapper1", response.url)
                }
                else {
                    showAlert("图片数量限制为1张", 'error');
                }
            }
        }
    });
})


function addImage(container, img_url) {
    var num = $("." + container).find(".photo_pos").length;
    $("." + container).append('<div class="photo_pos" id="' + container + '_' + num + '" >' +
        '<img width=60 src="' + img_url + '" alt=""> <i onclick="removeImage(\'' + container + '_' + num + '\')">x</i>' +
        '<input type="text" name="' + container + '" value="' + img_url + '" disabled/>' +
        '</div>');
}

function removeImage(container_id) {
    $("#" + container_id).remove();
}
function removeAllImage(container_id) {
    $("." + container_id).empty();
}

</script>

<script type="text/javascript">

</script>

{% endblock main %}
