

.date_time_input {
  width: 150px!important;
}

.alert {
  margin: auto;
}

.operate {
    color: #333;
    margin-right: 5px;
}

.operate1 {
    color: #333;
    margin-right: 5px;
}
.operate2 {
    color: #333;
    margin-right: 5px;
}
.operate3 {
    color: #333;
    margin-right: 5px;
}
.operate4 {
    color: #333;
    margin-right: 5px;
}
.operate5 {
    color: #333;
    margin-right: 5px;
}
.operate6 {
    color: #333;
    margin-right: 5px;
}
.operate7 {
    color: #333;
    margin-right: 5px;
}

.remove {
    color: #333!important;
    margin-right: 5px!important;
    margin-left: 0px!important;
}

.table > thead > tr > td.table_normal,
.table > tbody > tr > td.table_normal,
.table > tfoot > tr > td.table_normal,
.table > thead > tr > th.table_normal,
.table > tbody > tr > th.table_normal,
.table > tfoot > tr > th.table_normal,
.table > thead > tr.table_normal > td,
.table > tbody > tr.table_normal > td,
.table > tfoot > tr.table_normal > td,
.table > thead > tr.table_normal > th,
.table > tbody > tr.table_normal > th,
.table > tfoot > tr.table_normal > th {
  background-color: #46C459;
}
.table-hover > tbody > tr > td.table_normal:hover,
.table-hover > tbody > tr > th.table_normal:hover,
.table-hover > tbody > tr.table_normal:hover > td,
.table-hover > tbody > tr:hover > .table_normal,
.table-hover > tbody > tr.table_normal:hover > th {
  background-color: #3CC350;
}



.green,.green a
{
	color:#3CC350;
}

.blue,.blue a
{
	color:#377abe;
}

.red,.red a
{
	color:#F24830;
}

.green,.green a
{
	color:#2ED82B;
}



.photo-upload-single{
	display: inline-block;
	background-color: rgb(242, 242, 242);
	width: 200px;
	height: 150px;
	border-radius: 20px;
    text-align: center;
    line-height: 150px;
}
.photo-container{
	overflow: hidden;
	padding: 10px;
}
.photo_pos{
	padding: 5px;
	width: 150px;
	height: 70px;
	position: relative;
	float: left;
}
.photo-container-single .photo_pos{
	height: auto;
}
.photo_pos i{
	width: 21px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    position: absolute;
    display: inline-block;
    background: #fff;
    z-index: 999;
    top: -10px;
    right: -6px;
    line-height: 18px;
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    cursor: pointer;
    color: #c3c3c3;
}
.photo_pos img{
	width: 100%;
}
.photo-upload{
	padding: 5px;
	width: 150px;
	height: 100px;
	background: transparent url(http://yun.duiba.com.cn/developer/img/default_img_3.jpg) center center no-repeat;
	background-size: 148px 69px;
	float: left;
	cursor: pointer;
}
.photo-upload:hover{
	border: 1px solid #d9edf7;
}
.photo-upload-input{
	opacity: 0;
	width: 200px;
	height: 150px;
	position: absolute;
    top: 0;
}


.form-control-user {
    padding-left: 0px!important;
}
